* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

/* NOTE: Select all header(s) that are CHILDREN of the body */
body > header {
  background-color: rgb(49, 49, 49);
  margin: 0;
}

nav {
  display: flex;
}

/* NOTE: Select all <a>'s inside of a <nav> */
nav a {
  color: white;
  padding: 1em;
  text-decoration: none;
}

/* NOTE: Select all <a>'s in a "hovered" state, inside of a <nav> */
nav a:hover {
  background-color: rgb(61, 61, 61);
}

.row {
  width: 100%;
}

.error {
  color: red;
}

.userForm {
  max-width: 400px;
  margin: auto;
}

.userForm input,
.userForm button {
  width: 100%;
  padding: 0.8em;
}

.post-form .row > * {
  width: 100%;
}

.post-form {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.post-form h1,
.post-form h3 {
  width: 100%;
}

.post-form label {
  display: inline-flex;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;
}

.post-form label span {
  font-size: 3em;
  font-weight: bold;
}

.post-form .big-label span input {
  font-size: 1em;
}

.post-form section {
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 300px;
}

.review-section main {
  display: flex;
  flex-wrap: wrap;
}

.review-section article {
  flex-basis: 33%;
  flex-grow: 1;
  min-width: 300px;
  padding: 0.3em;
}

.review-section article header {
  font-size: 1.3em;
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: center;
}

.pagination-controls span {
  color: rgb(0, 102, 255);
  padding: 0.5em;
  cursor: pointer;
}

.post-form textarea {
  width: 100%;
  min-height: 200px;
}

.post-form input[type="text"] {
  min-width: 300px;
}

.post-form footer {
  margin-top: 1em;
  width: 100%;
}

.post-form footer button {
  font-size: 2em;
  padding: 0.2em 0.4em;
  color: white;
  background-color: rgb(61, 116, 199);
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
}

/* NOTE: Select all elements with name="year" attribute */
.post-form input[name="year"] {
  max-width: 4em;
  min-width: initial;
}
